<GridLayout class="assessment-checkbox-container" columns="*,5*" (tap)="onTap()">
    <StackLayout col="0" horizontalAlignment="center" verticalAlignment="center"
        [class]="radioStatus ? 'assessment-radio-selected' : 'assessment-radio-not-selected'">
    </StackLayout>

    <FlexboxLayout col="1" horizontalAlignment="center" verticalAlignment="center"
        [class]="((imageSrc) && (imageSrc.length != 0)) ? 'assessment-checkbox-box2' : 'assessment-checkbox-box1'">
        <Image class="assessment-checkbox-img"
            [visibility]="((imageSrc) && (imageSrc.length != 0)) ? 'visible':'collapsed'"
            stretch="aspectFill" [src]="imageSrc"></Image>
        <Label class="assessment-checkbox-text" [text]="text"></Label>
    </FlexboxLayout>
</GridLayout>