
<StackLayout (tap)="onTap()">
    <settings-header *ngIf="title && title.length" [title]="title" class="small-title"></settings-header>
    
    <GridLayout rows="*" columns="*,auto" class="settings-input-band"
        [visibility]="visibility?'visible':'collapsed'">
        <Label [text]="value" row="0" col="0" class="text"></Label>
        <NSImg row="0" col="1" class="decorator-img"
            stretch="aspectFit" 
            src="~/img/icons/right-arrow_grey-medium.png">
        </NSImg>
    </GridLayout>
</StackLayout>