<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition" class="{{formfactor}}" drawerContentSize="450">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <GridLayout row="0" class="sidedrawer-header" rows="auto,auto,auto" columns="*">
            <NSImg row="0" col="0" class="sidedrawer-header-close"
                verticalAlignment="top" stretch="aspectFit" horizontalAlignment="left"
                src="~/img/icons/close_blue.png"
                (tap)="onCloseMenu()">
            </NSImg>
            <StackLayout row="0" col="0" class="sidedrawer-header-image-wrapper">
            </StackLayout>            
            <NSImg row="0" col="0" class="sidedrawer-header-image"
                verticalAlignment="center" stretch="aspectFit" horizontalAlignment="center"
                src="~/img/icons/profile_white.png">
            </NSImg>
            
            <Label row="1" col="0" class="sidedrawer-header-name" [text]="_accountName"></Label>
            
            <GridLayout row="2" col="0" columns="1*,auto,auto,1*" rows="auto" orientation="horizontal" class="sidedrawer-header-settings" (tap)="onSettingsClick()">
                <StackLayout row="0" col="1" class="sidedrawer-header-settings-wrapper"></StackLayout>
                <NSImg row="0" col="1" class="sidedrawer-header-settings-image"
                    verticalAlignment="center" stretch="aspectFit" horizontalAlignment="center"
                    src="~/img/icons/settings_grey-dark.png">
                </NSImg>
                <Label row="0" col="2" class="sidedrawer-header-settings-label" text="{{ 'profile_settings' | L }}"></Label>
            </GridLayout>
        </GridLayout> 
    
        <ScrollView row="1" class="sidedrawer-content">
            <StackLayout>
                <GridLayout columns="*" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
                    <Label col="0" text="{{ 'home' | L }}" class="p-r-10"></Label>
                </GridLayout>
                    
                <!--GridLayout columns="*" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/companion')" (tap)="onNavItemTap('/companion')">
                    <Label col="0" text="{{ 'my_companion' | L }}" class="p-r-10"></Label>
                </GridLayout-->

                <GridLayout columns="*, auto" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/messages')" (tap)="onNavItemTap('/messages')">
                    <Label col="0" text="{{ 'my_messages' | L }}" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="*" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/news/news')" (tap)="onNavItemTap('/news/news')">
                    <Label col="0" text="{{ 'news' | L }}" class="p-r-10"></Label>
                </GridLayout>
                
                <StackLayout class="sidedrawer-list-item-divider"></StackLayout>

                <ng-template ngFor let-category [ngForOf]="_categories">
                        <GridLayout columns="*" class="sidedrawer-list-item" 
                        [visibility]="category.count>0 && !category.hideMenu ? 'visible' : 'collapsed'"
                        [class.selected]="isComponentSelected('/category/'+category.id)" (tap)="onNavItemTap('/category/'+category.id)">
                            <Label col="0" [text]="category.name" class="p-r-10"></Label>
                        </GridLayout>
                </ng-template>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <GridLayout rows="auto,*" columns="*" class="" tkMainContent>
        <GridLayout row="0" col="0" class="header-band" rows="*" columns="auto, *" [visibility]="dataservice.menubar.isVisible?'visible':'collapsed'">
            <NSImg row="0" col="0" class="header-menu-img"
                verticalAlignment="center" stretch="aspectFit" horizontalAlignment="left"
                src="~/img/icons/menu_white.png"
                (tap)="onDrawerButtonTap()"
                [visibility]="dataservice.menubar.isBurgerVisible ? 'visible' : 'collapsed'">
            </NSImg>
            <NSImg row="0" col="0" class="header-menu-img"
                verticalAlignment="center" stretch="aspectFit" horizontalAlignment="left"
                src="~/img/icons/left-arrow_white.png"
                (tap)="onBackClick()"
                [visibility]="dataservice.menubar.isBackVisible ? 'visible' : 'collapsed'">
            </NSImg>
            
            <Label class="header-white" row="0" col="0" colSpan="2" [text]="dataservice.menubar.title"></Label> 
            <GridLayout row="0" col="1" columns="*, auto, auto, auto, auto, auto, auto" rows="*">
                    <NSImg row="0" col="1" class="header-icon-img"
                        verticalAlignment="center" stretch="aspectFit" horizontalAlignment="left"
                        src="~/img/icons/cast-stream_white.png"
                        (tap)="onCastClick()"
                        [visibility]="dataservice.menubar.isCastVisible ? 'visible' : 'collapsed'">
                    </NSImg>
                    
                    <NSImg row="0" col="2" class="header-icon-img"
                        verticalAlignment="center" stretch="aspectFit" horizontalAlignment="left"
                        src="~/img/icons/request-call_white.png"
                        (tap)="onContactClick()"
                        [visibility]="dataservice.menubar.isContactVisible ? 'visible' : 'collapsed'">
                    </NSImg>
                    <Label class="header-icon-label" row="0" col="3" text="{{ 'request_contact' | L }}" (tap)="onContactClick()"
                        [visibility]="dataservice.menubar.isContactVisible  && formfactor=='tablet' ? 'visible' : 'collapsed'"></Label> 
                    
                    <NSImg row="0" col="4" class="header-icon-img"
                        verticalAlignment="center" stretch="aspectFit" horizontalAlignment="left"
                        src="~/img/icons/search_white.png"
                        (tap)="onSearchClick()"
                        [visibility]="dataservice.menubar.isSearchVisible ? 'visible' : 'collapsed'">
                    </NSImg>
                    <Label class="header-icon-label" row="0" col="5" text="{{ 'search' | L }}" (tap)="onSearchClick()"
                        [visibility]="dataservice.menubar.isSearchVisible && formfactor=='tablet' ? 'visible' : 'collapsed'"></Label> 
            </GridLayout> 
        </GridLayout>   
        <StackLayout row="1" col="0">
            <page-router-outlet class="page page-content"></page-router-outlet>
        </StackLayout>
        <ActivityIndicator [busy]="dataservice.isLoading" row="1" col="0"></ActivityIndicator>
        
        <StackLayout row="0" rowSpan="2" col="0"
            [class]="dimmedClass" [visibility]="dimmedClass.length?'visible':'collapsed'"
            ios:isUserInteractionEnabled="false"></StackLayout>
    </GridLayout>
</RadSideDrawer>
