<GridLayout class="{{formfactor}} page page-content">
    <Label class="page-icon fa" text="{{ 'fa-envelope-o' | fonticon }}" ></Label>
    <Label class="page-placeholder" text="<!--  Template -->"></Label>
</GridLayout>