<StackLayout class="section-container" id="{{uuid}}_container">
    <GridLayout class="focusable" columns="auto,*,auto" rows="auto, auto, auto" 
        [visibility]="items.length>0 ? 'visible' : 'collapsed'"
        [class.focused]="allowFocus">
        <StackLayout orientation="horizontal" row="0" col="0" colSpan="3" class="title-container" (tap)="onTitleTap()">
                <Label text="{{ 'home_news_title' | L }}" class="header-black"></Label>
                <NSImg class="header-caret"
                    stretch="aspectFit" 
                    src="~/img/icons/right-arrow_blue.png">
                </NSImg>
        </StackLayout>
        
        <NSImg row="1" col="0" rowSpan="2" class="news-container-arrow"
            verticalAlignment="middle" stretch="aspectFit" horizontalAlignment="center"
            src="~/img/icons/left-arrow_blue.png"
            (tap)="onPreviousNews()">
        </NSImg>
        
        <GridLayout row="1" col="1" rows="*" cols="*" class="news-container-body">
                <ng-template ngFor let-item [ngForOf]="items">
                    <GridLayout rows="auto,*,auto" columns="auto,*" class="news-item-container" id="{{uuid}}_item_{{item.index}}">
                            <!-- using decodeWidth/decodeHeight to downsample the image loaded into memory.  
                                using 300/300 because the tablet size does not exceed 300  -->
                            <NSImg row="0" col="0"  rowSpan="3" class="news-item-image" 
                                verticalAlignment="top" stretch="aspectFill" horizontalAlignment="center"
                                decodeWidth="300" decodeHeight="300" 
                                [src]="item.image">
                            </NSImg>
                        <Label row="0" col="1" [text]="item.title" class="news-item-title"   maxLines="3"
                            ></Label>
                        <Label row="1" col="1" [text]="item.desc"  class="news-item-body" maxLines="6"></Label>
                        <Label row="2" col="1" text="{{ 'home_readmore' | L }}" class="news-item-readmore"></Label>
                    </GridLayout>
                </ng-template>
        </GridLayout>
        <StackLayout row="1" col="1" (swipe)="onSwipeNews($event)" (tap)="itemTap()"></StackLayout>
        
        <StackLayout orientation="horizontal" row="2" col="1" 
            class="news-item-pager-dots"
            verticalAlignment="center" horizontalAlignment="center">
            <ng-template ngFor let-itemdot [ngForOf]="news">
                    <Label class="fa news-item-pager-dot" [class.selected]="itemdot.selected"
                        text="{{ 'fa-circle' | fonticon }}"
                        (tap)="setActiveNewsIndex(itemdot.index)"></Label>
            </ng-template>
        </StackLayout>
        
        <NSImg row="1" col="2" rowSpan="2" class="news-container-arrow"
            verticalAlignment="middle" stretch="aspectFit" horizontalAlignment="center"
            src="~/img/icons/right-arrow_blue.png"
            (tap)="onNextNews()">
        </NSImg>
    </GridLayout>
</StackLayout>