<GridLayout rows="*" columns="*,auto" class="settings-input-band"
    [visibility]="visibility?'visible':'collapsed'">
    <Label [text]="title" row="0" col="0" class="title"></Label>
    <Image row="0" col="1" class="checkbox"
                stretch="aspectFit"  loadMode="async" 
                src="~/img/icons/switch-on_green.png"
                [visibility]="value ? 'visible' : 'collapsed'">
    </Image>
    <Image row="0" col="1" class="checkbox"
                stretch="aspectFit"  loadMode="async" 
                src="~/img/icons/switch-off_grey-medium.png"
                [visibility]="!value ? 'visible' : 'collapsed'">
    </Image>
    <StackLayout row="0" col="0" colSpan="2" (tap)="onToggle()"></StackLayout>
</GridLayout>