<GridLayout class="assessment-checkbox-container" columns="*,5*" (tap)="onToggle()">
    <StackLayout col="0" horizontalAlignment="center" verticalAlignment="center" [id]="checkboxId"
        [class]="selected ? 'assessment-checkbox-selected' : 'assessment-checkbox-not-selected'">
    </StackLayout>

    <FlexboxLayout col="1" horizontalAlignment="center" verticalAlignment="center"
        [class]="checkboxImgSrc ? 'assessment-checkbox-box2' : 'assessment-checkbox-box1'">
        <Image class="assessment-checkbox-img" [visibility]="checkboxImgSrc ? 'visible':'collapsed'" stretch="aspectFill"
            [src]="checkboxImgSrc"></Image>
        <Label class="assessment-checkbox-text" [text]="optionTitle"></Label>
    </FlexboxLayout>
</GridLayout>