<GridLayout>

    <!--Page Content Start-->
    <GridLayout class="{{formfactor}} page page-content">

        <DockLayout class="contact-page">


            <!--Send Request & Cancel btns at the bottom for Phone-->
            <StackLayout dock="bottom" *ifPhone>

                <!--Send Request Button-->
                <StackLayout class="send-req-btn" (tap)="submitAnswer()"
                    *ngIf="existingRequest == null; else cancelRequest">
                    <Label text="{{'contact_send_contact_request' | L}}"></Label>
                </StackLayout>

                <!--Cancel Request button-->
                <ng-template #cancelRequest>
                    <StackLayout class="contact-cancel-request" (tap)="cancelExistingRequest()">
                        <Label text="{{'contact_cancel_request' | L}}"></Label>
                    </StackLayout>
                </ng-template>

            </StackLayout>


            <!--Main Page Content-->
            <ScrollView id="pageContentScroller" dock="top" [visibility]="gotExisting?'visible':'collapsed'">

                <FlexboxLayout class="contact-body" [visibility]="allReasons.length?'visible':'collapsed'">

                    <!--Warning Part-->
                    <StackLayout orientation="vertical" class="contact-warning-container">
                        <Image src="~/img/icons/warning_red.png" class="contact-warning-icn"></Image>
                        <Label class="contact-warning-text" text="{{'contact_warning' | L}}" textWrap="true"></Label>
                    </StackLayout>

                    <!--Title and text at top according to existing request-->
                    <StackLayout>

                        <StackLayout class="contact-title-container">
                            <Label [text]="contactTitle()" textWrap="true"></Label>
                        </StackLayout>

                        <StackLayout class="contact-subtext-container">
                            <Label class="contact-help-text" [text]="contactSubtext()" textWrap="true"></Label>
                        </StackLayout>

                    </StackLayout>


                    <!--Options - if existing request is empty - start-->
                    <FlexboxLayout class="selection-container" *ngIf="(existingRequest == null); else reqPendingInfo">

                        <!--Options - loop through allReasons-->
                        <StackLayout *ngFor="let reason of allReasons">

                            <!--Container for each option-->
                            <FlexboxLayout class="contact-button-container" *ngIf="reason.id !=-1">

                                <!--Radio button for phone-->
                                <StackLayout [id]="reason.id" (onTap)="answerTap(reason)"
                                    [ngClass]="reason.selected == true ? 'contact-radio-button-clicked' : 'contact-radio-button'"
                                    *ifPhone>
                                </StackLayout>

                                <!--Image and Text - if not other-->
                                <StackLayout class="contact-radio-button-text" (onTap)="answerTap(reason)"
                                    *ngIf="!reason.isOther; else other">
                                    <Image class="contact-emoji" verticalAlignment="center" horizontalAlignment="center"
                                        [src]="reason.img"></Image>
                                    <Label class="radio-text" verticalAlignment="center" horizontalAlignment="center"
                                        [text]="reason.text" textWrap="true"></Label>
                                </StackLayout>

                                <!--Other option start-->
                                <ng-template #other>

                                    <!--Other part for mobile - textfield visible only if other is selected-->
                                    <FlexboxLayout class="contact-radio-button-other" (onTap)="answerTap(reason)"
                                        *ifPhone>
                                        <Label [text]="reason.text"></Label>
                                        <TextField class="other-input" [(ngModel)]="reason.other"
                                            (onTap)="answerTap(reason)"
                                            *ngIf="true || reason.selected == true"></TextField>
                                    </FlexboxLayout>

                                    <!--Other part for tablet - radiobutton to the side and textbox always visible-->
                                    <StackLayout orientation="horizontal" class="tab-other" *ifTablet (onTap)="answerTap(reason)">
                                        <!--Radiobutton for other - tablet-->
                                        <StackLayout  [id]="reason.id" 
                                            [ngClass]="reason.selected == true ? 'contact-radio-button-clicked' : 'contact-radio-button'">
                                        </StackLayout>

                                        <StackLayout class=" contact-radio-button-other" (onTap)="answerTap(reason)">
                                            <Label class="other-label" [text]="reason.text"></Label>
                                            <TextField class="other-input" [(ngModel)]="reason.other" (onTap)="answerTap(reason)"></TextField>
                                        </StackLayout>
                                    </StackLayout>

                                </ng-template>
                                <!--Other option End-->

                                <!--Radiobutton for tablet at bottom of each option except other option-->
                                <StackLayout *ngIf="!reason.isOther">
                                    <StackLayout [id]="reason.id" (onTap)="answerTap(reason)"
                                        [ngClass]="reason.selected == true ? 'contact-radio-button-clicked' : 'contact-radio-button'"
                                        *ifTablet>
                                    </StackLayout>
                                </StackLayout>

                            </FlexboxLayout>
                        </StackLayout>

                    </FlexboxLayout>
                    <!--Options - if existing request is empty - start-->

                    <!--Send request btn for tablet-->
                    <StackLayout *ifTablet>
                        <Button text="{{'contact_send_contact_request' | L}}" class="send-req-btn"
                            (tap)="submitAnswer()" *ngIf="existingRequest == null">
                        </Button>
                    </StackLayout>

                    <!--Contact Pending content start-->
                    <ng-template #reqPendingInfo>
                        <StackLayout class="request-container">

                            <!--Content box-->
                            <GridLayout class="requested-option">
                                <StackLayout class="requested-option-info">
                                    <Image class="contact-emoji" [src]="existingRequest.img"></Image>
                                    <!--Reason text-->
                                    <Label class="contact-request-text"
                                        [text]="existingRequest.reason"
                                        textWrap="true"></Label>
                                </StackLayout>
                            </GridLayout>

                            <StackLayout orientation="vertical" class="existing-request-sub-date">
                                <Label class="request-info" [text]="formatSubject(existingRequest)" textWrap="true"></Label>
                                <Label class="request-info" [text]="formatSubmit(existingRequest)" textWrap="true"></Label>
                            </StackLayout>

                            <!--Cancel btn for tablet-->
                            <Button class="contact-cancel-request" text="{{'contact_cancel_request' | L}}"
                                (tap)="cancelExistingRequest()" *ifTablet>
                            </Button>
                            <!--One request at time for tablet-->
                            <StackLayout orientation="vertical" class="contact-one-req" *ifTablet>
                                <Label class="request-info" text="{{'contact_one_request' | L}}"
                                    textWrap="true"></Label>
                            </StackLayout>

                        </StackLayout>
                    </ng-template>
                    <!--Contact Pending content end-->
                </FlexboxLayout>
            </ScrollView>
        </DockLayout>

    </GridLayout>
    <!--Page Content End-->
 
    <!--Modal-->
    <GridLayout class="dialog-wrapper" *ngIf="dialogOpen == true" rows="1*,auto,1*" columns="1*,auto,1*">
        <FlexboxLayout row="1" col="1" class="dialog-box">

            <!--Close button-->
            <StackLayout class="dialog-close-container" (tap)="closeDialog()">
                <Image src="~/img/icons/close_blue.png" class="dialog-close-img"></Image>
            </StackLayout>
            <Label class="dialog-heading" textWrap="true" text="{{'contact_request_submitted' | L}}"></Label>

            <GridLayout class="requested-option">
                <StackLayout class="requested-option-info">
                    <Image class="contact-emoji" [src]="existingRequest.img"></Image>
                    <Label class="contact-request-text"
                        [text]="existingRequest.reason"
                        textWrap="true"></Label>
                </StackLayout>
            </GridLayout>

            <StackLayout orientation="vertical" class="existing-request-sub-date">
                <Label class="request-info" [text]="formatSubject(existingRequest)" textWrap="true"></Label>
                <Label class="request-info" [text]="formatSubmit(existingRequest)" textWrap="true"></Label>
            </StackLayout>

            <Button class="dialog-ok-btn" text="{{'contact_okay' | L}}" (tap)="closeDialog()"></Button>
        </FlexboxLayout>
    </GridLayout>

</GridLayout>