<GridLayout rows="*" columns="*,auto,auto, {{actionWidth}}" class="settings-input-swipe" 
    style="padding: 0 {{scrollOffset}} 0 {{-scrollOffset}}; margin: 0 -{{actionWidth}} 0 0;"
    [visibility]="visibility?'visible':'collapsed'">
    <Label [text]="title" row="0" col="0" class="title"></Label>
    <Label [text]="value" row="0" col="1" class="value"></Label>
    <NSImg row="0" col="2" class="decorator-img"
        stretch="aspectFit" 
        src="~/img/icons/edit_grey-medium.png">
    </NSImg>
    <StackLayout row="0" col="0" colSpan="3" (tap)="onTap()" (pan)="onPan($event)"></StackLayout>
    
    <StackLayout [class]="actionClass" row="0" col="3" (tap)="onActionTap()" (pan)="onPan($event)">
            <Label [text]="actionTitle"></Label>
    </StackLayout>
</GridLayout>