<PullToRefresh (refresh)="onRefresh($event)">
        <ScrollView class="{{formfactor}} page page-content" id="pageContentScroller">
            <StackLayout class="scrolling-content-body ">
                <!-- content -->
                <StackLayout orientation="vertical" class="settings-form">
                    <settings-header title="{{'news_topics_info' | L}}" class="small-title"
                        (tap)="onTap($event)"></settings-header>
                    <settings-checkbox title="check" [value]="true"
                        (changed)="onCheckChange($event)"></settings-checkbox>
                    <settings-select title="select input" value="a value" 
                        [values]="[{name: 'test1', value: 'val1'},{name: 'test2', value: 'val2'}]"
                        (changed)="onSelectChanged($event)"></settings-select>
                    
                    <settings-info title="info title" value="some value"
                        (tap)="onTap($event)"></settings-info>
                    <settings-text title="text title" value="some value"></settings-text>
                    
                    <settings-spacer></settings-spacer>
                    <settings-button title="test text" class="danger"
                        (tap)="onTap($event)"></settings-button>
                    <settings-spacer></settings-spacer>
                    
                    <settings-swipe title="swipe" value="swipe value" actionTitle="delete" actionClass="danger" actionWidth="100"
                        (tap)="onTap($event)" (actionTap)="onActionTap($event)"></settings-swipe>
                    <settings-swipe title="swipe" value="swipe value" actionTitle="edit" actionClass="grey"
                        (tap)="onTap($event)" (actionTap)="onActionTap($event)"></settings-swipe>
                    <settings-swipe title="swipe" value="swipe value" actionTitle="more info" actionClass="blue"
                        (tap)="onTap($event)" (actionTap)="onActionTap($event)"></settings-swipe>
                    <settings-swipe title="swipe" value="swipe value" actionTitle="green action" actionClass="green"
                        (tap)="onTap($event)" (actionTap)="onActionTap($event)"></settings-swipe>
                    
                    <settings-spacer></settings-spacer>
                    <settings-button title="Scheule More Times" class="" src="~/img/icons/add_white.png"
                        (tap)="onTap($event)"></settings-button>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </PullToRefresh>