<FlexboxLayout flexDirection="column">

    <FlexboxLayout class="assessment-show-item">

        <StackLayout class="assessment-show-item-image">
            <assessment-image [imageSrc]="imgSrc"></assessment-image>
        </StackLayout>

        <FlexboxLayout class="assessment-show-item-info">
            <!-- <assessment-header [headerText]="title" ></assessment-header> -->

            <Label [text]="title" class="assessment-show-item-title" textWrap="true"></Label>

            <Label [class]="(isAssigned) ? 'body-grey' : 'body-blue'"
                [text]="(isAssigned) ? 'Already Assigned' : 'New Activity Created'"></Label>
        </FlexboxLayout>

        <StackLayout class="assessment-schedule" orientation="vertical" *ngIf="(schedule) && (schedule.length > 0)">
            <Label class="small-title-black" text="Added to Schedule:"></Label>

            <GridLayout class="assessment-schedule-data-container" columns="*,*" rows="auto"
                *ngFor="let item of schedule">
                <FlexboxLayout class="assessment-show-item-schedule-data" col="0">
                    <Label class="small-title-black" [text]="item.frequency"></Label>
                    <Label class="small-title-black" [text]="item.time"></Label>
                </FlexboxLayout>
            </GridLayout>
        </StackLayout>

    </FlexboxLayout>

    <StackLayout class="hr-light"></StackLayout>

</FlexboxLayout>