
<ng-template ngFor let-category [ngForOf]="categories">
    <StackLayout id="{{uuid}}_category_{{category.id}}">
            <category-band [category]="category" [parentFocused]="allowFocus"
                (favoriteChange)="onFavoriteTap($event)" 
                (showTap)="onShowTap(category, $event)"
                (categoryTap)="onCategoryTap($event)"></category-band>
    </StackLayout>
</ng-template>