<FlexboxLayout class="assessment-date-container">

    <Label class="body-black" [text]="dateTitle"></Label>

    <GridLayout columns="*,*" class="assessment-date-box" (tap)="pickDate()">

        <Label col="0" class="small-title-black" [text]="valueString" horizontalAlignment="left" verticalAlignment="center"></Label>

        <Image col="1" class="assessment-date-icn" src="~/img/icons/date_blue.png" horizontalAlignment="right" verticalAlignment="center"></Image>

    </GridLayout>

</FlexboxLayout>