<GridLayout columns="*,auto,*" class="assessment-slider-container">
    <Label horizontalAlignment="center" verticalAlignment="center" col="0" [text]="sliderMinValue"></Label>

    <Slider horizontalAlignment="center" verticalAlignment="center" col="1" class="assessment-slider"
        [value]="sliderValue" [minValue]="sliderMinValue" [maxValue]="sliderMaxValue" (valueChange)="onSliderValueChange($event)">
    </Slider>

    <Label horizontalAlignment="center" verticalAlignment="center" col="2" [text]="sliderMaxValue"></Label>
</GridLayout>