<GridLayout rows="*" columns="*,auto" class="sub-header-bar">
    <Label [text]="title" row="0" col="0" [class.sub-header-title]="smallText==false" [class.sub-header-title-small]="smallText"></Label>

    <StackLayout row="0" col="1" class="sub-header-btn" orientation="horizontal" (tap)="onSubHeaderButtonTap()"
        [visibility]="showButton?'visible':'collapsed'">
        <NSImg class="sub-header-btn-img" loadMode="async" stretch="aspectFit" [src]="buttonImg">
        </NSImg>

        <Label class="sub-header-btn-label" [text]="buttonText"></Label>
    </StackLayout>
</GridLayout>