<GridLayout rows="*" columns="*" class="settings-input-band-center"
    [visibility]="visibility?'visible':'collapsed'">
    <Label [text]="value" row="0" col="0" class="value"  (tap)="onTap()"></Label>
</GridLayout>