<!--Image, bookmarks, clock, microphone icons start-->
<StackLayout *ifPhone>
  <GridLayout rows="auto" columns="*" class="cat-img-wrapper">
    <Image class="cat-img" stretch="aspectFill" [src]="show.image"></Image>

    <!--Top bookmark icon-->
    <StackLayout class="show-badge-row" orientation="horizontal" verticalAlignment="top" horizontalAlignment="right">
      <StackLayout [visibility]="show.isFavorite>0?'visible':'collapsed'" class="show-badge-wrapper"
        verticalAlignment="middle" horizontalAlignment="center" (tap)="setFavButton(show, false)">
        <Image loadMode="async" class="show-badge-image" stretch="aspectFit" verticalAlignment="middle"
          horizontalAlignment="center" src="~/img/icons/star_yellow.png">
        </Image>
      </StackLayout>
      <StackLayout [visibility]="show.isFavorite>0?'collapsed':'visible'" class="show-badge-wrapper"
        verticalAlignment="middle" horizontalAlignment="center" (tap)="setFavButton(show, true)">
        <Image loadMode="async" class="show-badge-image" stretch="aspectFit" verticalAlignment="middle"
          horizontalAlignment="center" src="~/img/icons/star_white.png">
        </Image>
      </StackLayout>
    </StackLayout>

    <!--Bottom clock icon-->
    <StackLayout class="show-badge-row" orientation="horizontal" verticalAlignment="bottom" horizontalAlignment="right">
      <StackLayout class="show-badge-wrapper" verticalAlignment="middle" horizontalAlignment="center"
        (tap)="triggerButton('white clock')" [visibility]="show.snoozeMinutes>0?'visible':'collapsed'">
        <Image loadMode="async" class="show-badge-image" stretch="aspectFit" verticalAlignment="middle"
          horizontalAlignment="center" src="~/img/icons/clock_white.png">
        </Image>
      </StackLayout>

      <StackLayout class="show-badge-wrapper" verticalAlignment="middle" horizontalAlignment="center"
        (tap)="triggerButton('white clock')" [visibility]="show.includesVoice?'visible':'collapsed'">
        <Image loadMode="async" class="show-badge-image" stretch="aspectFit" verticalAlignment="middle"
          horizontalAlignment="center" src="~/img/icons/trusted-voice_white.png">
        </Image>
      </StackLayout>
    </StackLayout>
  </GridLayout>

  <!--Image, bookmarks, clock, microphone icons end-->

  <Label [text]="show.name" class="large-title-black cat-title" textWrap="true"></Label>

  <GridLayout rows="auto" columns="*" class="cat-desc">
    <Label [visibility]="showSchedule?'visible':'collapsed'" [text]="scheduleFormat()" class="body-blue"
      horizontalAlignment="left" verticalAlignment="center"></Label>

    <!--Setting icon to be displayed only if expanded-->
    <StackLayout (tap)="triggerButton('settings')" [visibility]="isExpanded?'visible':'collapsed'"
      class="settings-badge" horizontalAlignment="right" verticalAlignment="center">
      <Image loadMode="async" class="show-badge-image" stretch="aspectFit" verticalAlignment="middle"
        horizontalAlignment="center" src="~/img/icons/settings_grey-dark.png">
      </Image>
    </StackLayout>
  </GridLayout>

  <!--Expanded part start-->
  <StackLayout class="expansion-container" [visibility]="isExpanded?'visible':'collapsed'">
    <Label [visibility]="description()?'visible':'collapsed'" class="body-black" [text]="description()"
      textWrap="true"></Label>

    <GridLayout rows="auto" columns="*,auto,*" class="m-t-10">
      <Label class="body-grey" col="0" text="{{'category_last_update' | L}} {{ formatDate(show.lastModified)}}"
        [visibility]="show.lastModified?'visible':'collapsed'"></Label>

      <StackLayout col="1" class="vertical-line"></StackLayout>
      <Label class="body-grey" col="2" horizontalAlignment="right"
        text="{{ show.visualCount }} {{ 'category_visual_count' | L }}"></Label>
    </GridLayout>
  </StackLayout>
  <!--Expanded part end-->
  <!--Down arrow + horizontal line-->
  <GridLayout>
    <!--Horizontal line-->
    <StackLayout class="hr-light"></StackLayout>
    <!--Down arrow image-->
    <StackLayout (tap)="onExpand()" verticalAlignment="center" horizontalAlignment="center" class="expand-item">
      <StackLayout class="down-arrow" verticalAlignment="center" horizontalAlignment="center">
        <NSImg verticalAlignment="center" loadMode="async" class="show-badge-image" stretch="aspectFit"
          horizontalAlignment="center" src="{{src}}">
        </NSImg>
      </StackLayout>
    </StackLayout>
  </GridLayout>
</StackLayout>

<!--Tablet View-->

<StackLayout *ifTablet>
  <GridLayout width="100%" rows="auto, auto, auto, auto" columns="auto, 2*, *">

    <!--First coloumn for image and corresponding icons-->
    <GridLayout col="0" rowspan="4" rows="auto" columns="auto" class="cat-img-wrapper">
      <!--Image-->
      <Image class="cat-img" stretch="aspectFill" [src]="show.image"></Image>

      <!--Icons-->
      <StackLayout class="badge-row" orientation="horizontal" verticalAlignment="bottom" horizontalAlignment="right">
        <!--Clock icon-->
        <StackLayout class="show-badge-wrapper" verticalAlignment="middle" horizontalAlignment="center"
          (tap)="triggerButton('white clock')" [visibility]="show.snoozeMinutes>0?'visible':'collapsed'">
          <Image loadMode="async" class="show-badge-image" stretch="aspectFit" verticalAlignment="middle"
            horizontalAlignment="center" src="~/img/icons/clock_white.png">
          </Image>
        </StackLayout>

        <!--Mic icon-->
        <StackLayout class="show-badge-wrapper" verticalAlignment="middle" horizontalAlignment="center"
          (tap)="triggerButton('white clock')" [visibility]="show.includesVoice?'visible':'collapsed'">
          <Image loadMode="async" class="show-badge-image" stretch="aspectFit" verticalAlignment="middle"
            horizontalAlignment="center" src="~/img/icons/trusted-voice_white.png">
          </Image>
        </StackLayout>
      </StackLayout>
    </GridLayout>

    <!--Column 2 for details-->
    <!--Title-->
    <Label row="0" col="1" horizontalAlign="left" [text]="show.name" class="cat-title"
      textWrap="true"></Label>

    <!--Schedule, if present-->
    <Label row="1" col="1" [visibility]="showSchedule?'visible':'collapsed'" [text]="scheduleFormat()"
      class="category-schedule" horizontalAlignment="left" verticalAlignment="center"></Label>

    <!--Description, if present-->
    <Label row="2" col="1" [visibility]="description()?'visible':'collapsed'" class="category-desc"
      [text]="description()" textWrap="true"></Label>

    <!--Last updated & count-->
    <GridLayout row="3" col="1" rows="auto" columns="*,auto,*" class="category-more-info">
      <Label class="category-last-update" col="0" text="{{'category_last_update' | L}} {{ formatDate(show.lastModified)}}"
        [visibility]="show.lastModified?'visible':'collapsed'" horizontalAlignment="left" textWrap="true"></Label>

      <Label class="category-count" col="2" horizontalAlignment="right"
        text="{{ show.visualCount }} {{ 'category_visual_count' | L }}" textWrap="true"></Label>
    </GridLayout>

    <FlexboxLayout rowSpan="4" row="0" col="2" flexDirection="column" justifyContent="space-around">
      <StackLayout orientation="horizontal" [visibility]="show.isFavorite>0?'visible':'collapsed'" (tap)="setFavButton(show, false)">
        <StackLayout class="badge-type-2">
          <Image loadMode="async" class="show-badge-image" stretch="aspectFit" verticalAlignment="middle"
            horizontalAlignment="center" src="~/img/icons/star_yellow.png"></Image>
        </StackLayout>
        <Label horizontalAlign="center" class="category-acc-info" verticalAlign="center"
          text="{{'category_remove_from_fav' | L}}" textWrap="true"></Label>
      </StackLayout>

      <StackLayout orientation="horizontal" [visibility]="show.isFavorite>0?'collapsed':'visible'" (tap)="setFavButton(show, true)">
        <StackLayout class="badge-type-2">
          <Image loadMode="async" class="show-badge-image" stretch="aspectFit" verticalAlignment="middle"
            horizontalAlignment="center" src="~/img/icons/star_grey-dark.png"></Image>
        </StackLayout>
        <Label horizontalAlign="center" class="category-acc-info" verticalAlign="center" text="{{'category_add_to_fav' | L}}" textWrap="true"></Label>
      </StackLayout>
      
      <StackLayout orientation="horizontal" (tap)="triggerButton('settings')" >
        <StackLayout class="badge-type-2" horizontalAlignment="right"
          verticalAlignment="center">
          <Image loadMode="async" class="show-badge-image" stretch="aspectFit" verticalAlignment="middle"
            horizontalAlignment="center" src="~/img/icons/settings_grey-dark.png">
          </Image>
        </StackLayout>
        <Label class="category-acc-info" text="{{'category_settings' | L}}" textWrap="true"></Label>
      </StackLayout>
    </FlexboxLayout>

  </GridLayout>

  <StackLayout class="hr-light"></StackLayout>
</StackLayout>