<GridLayout rows="*,auto" columns="*,auto,auto" class="settings-input-band"
    [visibility]="visibility?'visible':'collapsed'">
    <Label [text]="title" row="0" col="0" class="title"></Label>
    <Label [text]="valueText" row="0" col="1" class="value"></Label>
    
    <Slider row="1" col="0" colSpan="3" class="settings-slider"
        (valueChange)="onSliderValueChange($event)"
        [value]="value" [minValue]="min" [maxValue]="max">
</Slider>
</GridLayout>