<FlexboxLayout class="assessment-select-container">
    <Label class="body-black" [text]="title"></Label>
    <FlexboxLayout class="assessment-select-box" (tap)=onTap()>
        <Label [text]="value"></Label>

        <!-- <Image class="assessment-select-icon" src="~/img/icons/down-arrow_grey-medium.png"></Image> -->
        <Label text="&#xf107;" class="assessment-down-arrow"></Label>
    </FlexboxLayout>
</FlexboxLayout>