<GridLayout [class]="classValue" rows="*" columns="1*, auto,auto, 1*" (tap)="onTap()" 
    [visibility]="visibility?'visible':'collapsed'">
    
    <NSImg row="0" col="1" class="img"
        [visibility]="src && src.length ? 'visible':'collapsed'"
        stretch="aspectFit" 
        [src]="src">
    </NSImg>
    
    <Label row="0" col="2" [text]="title" class="title"></Label>
</GridLayout>