<PullToRefresh (refresh)="onRefresh($event)">
    <ScrollView class="{{formfactor}} page page-content" id="pageContentScroller">
        <StackLayout class="scrolling-content-body ">
            <!-- content -->
            <StackLayout orientation="vertical" class="settings-form">
                
                <settings-header title="{{'global_settings_options' | L}}"></settings-header>
                <settings-info title="{{'global_settings_content_size' | L}}" [value]="contentTotal"></settings-info>
                <settings-info title="{{'global_settings_storage' | L}}" [value]="storage" 
                    [visibility]="isStorageVisible"></settings-info>
                <settings-checkbox title="{{'global_settings_offline_content' | L}}" [value]="isOffline" (changed)="setOffline($event)"></settings-checkbox>
                <settings-info title="{{'global_settings_download_progress' | L}}" [value]="downloadProgress" 
                    [visibility]="isShowingDownloadProgress"></settings-info>
                <settings-info title="{{'global_settings_delete_progress' | L}}" [value]="deleteProgress" 
                    [visibility]="isShowingDeleteProgress"></settings-info>
                <settings-select title="{{'global_settings_night_mode' | L}}" [value]="nightMode" 
                    [values]="nightModeValues"
                    (changed)="onNightModeChange($event)"></settings-select>
                <settings-slider title="{{'global_settings_dim_amount' | L}}" [value]="dimAmount" min="10" max="90"
                    [visibility]="nightMode=='dim'"
                    (changed)="onDimAmountChange($event)"></settings-slider>
                    
                <settings-header title="{{'global_settings_kiosk_options' | L}}"></settings-header>
                <settings-checkbox title="{{'global_settings_kiosk_mode' | L}}" [value]="isKioskMode" (changed)="setKioskMode($event)"></settings-checkbox>
                <settings-checkbox title="{{'global_settings_kiosk_news' | L}}" [value]="isKioskShowingNews" (changed)="setKiosShowingNews($event)"
                    [visibility]="isKioskMode"></settings-checkbox>
                                
                <settings-header title="{{'global_settings_device' | L}}"></settings-header>
                <settings-info title="{{ 'global_settings_companion_id' | L }}" [value]="companionID"></settings-info>
                <settings-info *ifAndroid title="{{ 'global_settings_serial_number' | L }}" [value]="serialNumber"></settings-info>
                
                <!--
                <settings-header title="{{'global_settings_network' | L}}"></settings-header>
                <settings-checkbox title="{{'global_settings_network_data' | L}}" [value]="isConnected"></settings-checkbox>
                -->
                
                <settings-header title="{{'global_settings_about' | L}}"></settings-header>
                <settings-info title="{{ 'global_settings_version' | L }}" [value]="version"></settings-info>
                <settings-info title="{{ 'global_settings_uptime' | L }}" [value]="uptime"></settings-info>
                 <!--
                <settings-header title="{{'news_topics_info' | L}}" class="small-title"
                    (tap)="onTap($event)"></settings-header>
                <settings-checkbox title="check" [value]="true"
                    (changed)="onCheckChange($event)"></settings-checkbox>
                <settings-select title="select input" value="a value" 
                    [values]="[{name: 'test1', value: 'val1'},{name: 'test2', value: 'val2'}]"
                    (changed)="onSelectChanged($event)"></settings-select>
                
                <settings-info title="info title" value="some value"
                    (tap)="onTap($event)"></settings-info>
                <settings-text title="text title" value="some value"></settings-text>
                
                <settings-spacer></settings-spacer>
                <settings-button title="test text" class="danger"
                    (tap)="onTap($event)"></settings-button>
                <settings-spacer></settings-spacer>
                
                <settings-swipe title="swipe" value="swipe value" actionTitle="delete" actionClass="danger" actionWidth="100"
                    (tap)="onTap($event)" (actionTap)="onActionTap($event)"></settings-swipe>
                <settings-swipe title="swipe" value="swipe value" actionTitle="edit" actionClass="grey"
                    (tap)="onTap($event)" (actionTap)="onActionTap($event)"></settings-swipe>
                <settings-swipe title="swipe" value="swipe value" actionTitle="more info" actionClass="blue"
                    (tap)="onTap($event)" (actionTap)="onActionTap($event)"></settings-swipe>
                <settings-swipe title="swipe" value="swipe value" actionTitle="green action" actionClass="green"
                    (tap)="onTap($event)" (actionTap)="onActionTap($event)"></settings-swipe>
                
                <settings-spacer></settings-spacer>
                <settings-button title="Scheule More Times" class="" src="~/img/icons/add_white.png"
                    (tap)="onTap($event)"></settings-button>
                    -->
            </StackLayout>
        </StackLayout>
    </ScrollView>
</PullToRefresh>