<PullToRefresh (refresh)="onRefresh($event)">
  <ScrollView
    class="{{ formfactor }} page page-content"
    orientation="vertical"
    id="pageContentScroller"
  >
    <StackLayout class="scrolling-content-body">
      <!--UI Start-->
      <StackLayout>
        <!--My albums & Sort start-->
            <sub-header-bar title="{{'home_' + categoryId + '_title' | L}}" 
                buttonImg="~/img/icons/sort-arrows_blue.png" 
                buttonText="{{'category_sort' | L}}"
                [showButton]="true"
                (onButtonTap)="onSort()">
          </sub-header-bar>
        <!--My albums & Sort end-->

        <!-- Main Content-->
        <!-- I provided a shows array that loads properly.  Use the real data please -->
        <Stacklayout *ngFor="let show of shows" class="body-white">
          <ns-category-item
            (favoriteChange)="onFavoriteTap($event)" 
            [show]="show"
            [showSchedule]="categoryId=='today'"
          ></ns-category-item>
        </Stacklayout>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</PullToRefresh>
