<!--Radiobtn attributes - radioStatus: whether option is selected or not, default is false,
    radioInfo: JSON array containing option details-->
<StackLayout (tap)="onTapRadio(item.text)" *ngFor="let item of radioInput">
    <assessment-radio [radioStatus]="(selOption == item.text) ? true : false" [imageSrc]="item.imageSrc"
        [text]="item.text"></assessment-radio>
</StackLayout>