<GridLayout class="section-container" columns="*" rows="auto, auto" 
    [visibility]="category.count>0 ? 'visible':'collapsed'">
    <StackLayout orientation="horizontal" row="0" col="0" class="title-container" (tap)="onCategoryTap(category.id)">
            <Label text="{{ 'home_'+category.id+'_title' | L }}" class="header-black" (tap)="onCategoryTap(category.id)"></Label>
            <NSImg class="header-caret"
                (tap)="onCategoryTap(category.id)"
                stretch="aspectFit" 
                src="~/img/icons/right-arrow_blue.png">
            </NSImg>
    </StackLayout>
    
    <ScrollView orientation="horizontal" row="1" col="0" id="{{uuid}}_scroller">
        <StackLayout orientation="horizontal"  class="show-list-container">
            <ng-template ngFor let-show [ngForOf]="category.shows">
                <GridLayout rows="auto, *, auto, auto, auto" columns="*" class="show-container focusable" 
                    [class.focused]="isItemFocused(show)"
                     id="{{uuid}}_show_{{show.index}}">
                    <!-- using decodeWidth/decodeHeight to downsample the image loaded into memory.  
                        using 300/300 because the tablet size does not exceed 300
                        Our HD images can get large and there may be a lot of them onscreen.  -->
                    <NSImg row="0" col="0"  rowSpan="3" class="show-image" (tap)="onShowTap(show)"
                        verticalAlignment="top" stretch="aspectFill" horizontalAlignment="center"
                        failure="onFailure"
                        decodeWidth="300" decodeHeight="300" 
                        [src]="show.image">
                    </NSImg>
                    <Label row="3" col="0" [text]="show.name" class="show-title" maxLines="3" (tap)="onShowTap(show)"></Label>
                    <Label row="4" col="0" [text]="scheduleFormat(show)" class="show-schedule" maxLines="3" *ngIf="show.scheduledStart" (tap)="onShowTap(show)"></Label>
                    
                    <!-- top badges -->
                    <StackLayout class="show-badge-row" row="0" col="0"  
                        orientation="horizontal" verticalAlignment="top" horizontalAlignment="right">
                        <StackLayout class="show-badge-wrapper" row="0" col="0" 
                            [visibility]="show.isFavorite>0?'visible':'collapsed'"
                            verticalAlignment="middle" horizontalAlignment="center"
                            (tap)="onFavoriteTap(show, false)">
                            <Image loadMode="async"  
                                class="show-badge-image" row="0" col="0" row="0" col="0" 
                                stretch="aspectFit"  verticalAlignment="middle" horizontalAlignment="center"
                                src="~/img/icons/star_yellow.png">
                            </Image>
                        </StackLayout>
                        <StackLayout class="show-badge-wrapper" row="0" col="0" 
                            [visibility]="!show.isFavorite>0?'visible':'collapsed'"
                            verticalAlignment="middle" horizontalAlignment="center"
                            (tap)="onFavoriteTap(show, true)">
                            <Image loadMode="async"  
                                class="show-badge-image" row="0" col="0" row="0" col="0" 
                                stretch="aspectFit"  verticalAlignment="middle" horizontalAlignment="center"
                                src="~/img/icons/star_white.png">
                            </Image>
                        </StackLayout>
                    </StackLayout>
                    
                    
                    <!-- bottom badges -->
                    <StackLayout class="show-badge-row" row="2" col="0" 
                        orientation="horizontal" verticalAlignment="bottom" horizontalAlignment="right">
                        <StackLayout class="show-badge-wrapper" row="0" col="0" 
                            [visibility]="show.snoozeMinutes>0?'visible':'collapsed'"
                            verticalAlignment="middle" horizontalAlignment="center">
                            <Image loadMode="async"  
                                class="show-badge-image" row="0" col="0" row="0" col="0" 
                                stretch="aspectFit"  verticalAlignment="middle" horizontalAlignment="center"
                                src="~/img/icons/clock_white.png">
                            </Image>
                        </StackLayout>
                        <StackLayout class="show-badge-wrapper" row="0" col="0" 
                            [visibility]="show.includesVoice?'visible':'collapsed'"
                            verticalAlignment="middle" horizontalAlignment="center">
                            <Image loadMode="async"  
                                class="show-badge-image" row="0" col="0" row="0" col="0" 
                                stretch="aspectFit"  verticalAlignment="middle" horizontalAlignment="center"
                                src="~/img/icons/trusted-voice_white.png">
                            </Image>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
            </ng-template>
        </StackLayout>
    </ScrollView>
</GridLayout>