<GridLayout rows="*" columns="*,auto" class="settings-input-band"
    [visibility]="visibility?'visible':'collapsed'">
    <Label [text]="title" row="0" col="0" class="title"></Label>
    <Label [text]="value" row="0" col="1" class="value"></Label>
    <StackLayout row="0" col="0" colSpan="2" (tap)="onTap()"></StackLayout>
</GridLayout>