<GridLayout [class]="classValue" (tap)="onTap()">
    <Label [class]="(bgColor == 'blue') ? 'large-title-white' : 'large-title-black'" horizontalAlignment="center"
        verticalAlignment="center" [text]="btnText"></Label>
</GridLayout>