<FlexboxLayout class="assessment-textarea-container">

    <Label class="body-black" [text]="textareaLabel"></Label>

    <TextView [class]="classes" [text]="value" [hint]="hint" (textChange)="onTextChange($event)"></TextView>

</FlexboxLayout>