<GridLayout rows="*" columns="*,auto,auto" class="settings-input-band"
    [visibility]="visibility?'visible':'collapsed'">
    <Label [text]="title" row="0" col="0" class="title"></Label>
    <Label [text]="valueString" row="0" col="1" class="value"></Label>
    
    <NSImg row="0" col="2" class="decorator-img"
        stretch="aspectFit" 
        src="~/img/icons/right-arrow_grey-medium.png">
    </NSImg>
    
    <StackLayout row="0" col="0" colSpan="3" (tap)="pickDate()"></StackLayout>
</GridLayout>