<PullToRefresh (refresh)="onRefresh($event)">
    <ScrollView class="{{formfactor}} page page-content" id="pageContentScroller">
        <StackLayout class="scrolling-content-body ">
            <!-- content -->
            <StackLayout orientation="vertical" class="assessment-form">

                <!--Assessment Show Item-->
                <Label class="assessment-temporary-label" text="Show Item"></Label>
                <assessment-show-item [imgSrc]="data.imageSrc" [title]="data.title" [isAssigned]="data.isAssigned" [schedule]="data.schedule" *ngFor="let data of showItemData"></assessment-show-item>


                <!--Header Attributes: headerText - title of heading-->
                <Label class="assessment-temporary-label" text="Heading"></Label>
                <assessment-header headerText="Assessment Heading"></assessment-header>


                <!--Header Sub Attributes: subheaderText - title of sub header-->
                <Label class="assessment-temporary-label" text="Sub heading"></Label>
                <assessment-subheader subheaderText="Assessment Sub-Heading"></assessment-subheader>


                <!--Text Attributes: text - text to be displayed-->
                <Label  class="assessment-temporary-label" text="Text"></Label>
                <assessment-text [text]="text"></assessment-text>


                <!--Image Attributes: imageSrc - source of image to be displayed-->
                <Label class="assessment-temporary-label" text="Image"></Label>
                <assessment-image imageSrc="~/img/ben.png"></assessment-image>

                <!--Select Attributes: title - Label text for select, 
                    values - list of options in select-->
                <Label class="assessment-temporary-label" text="Select"></Label>
                <assessment-select [values]="selectValues" title="Select a Value"></assessment-select>


                <!--Text Area Attributes: classValue - class containing heigh and widtht,
                    hint - Placeholder to be displayed in text area,
                    value - default value to be displayed,
                    textareaLabel - Label for text area-->
                <Label class="assessment-temporary-label" text="Text Area"></Label>
                <assessment-textarea textareaLabel="Label for text area" classValue="assessment-textarea-dimension"
                    hint="Enter text....."></assessment-textarea>

                <!--Slider Attributes: sliderValue - default value of slider, 
                    sliderMinValue - minimum value of slider, 
                    sliderMaxValue - maximum value of slider-->
                <Label class="assessment-temporary-label" text="Slider"></Label>
                <assessment-slider sliderValue="5" sliderMinValue="0" sliderMaxValue="10"></assessment-slider>

                <!--Date Attributes: dateTitle - Label to be displayed,
                    value - Default value-->
                <Label class="assessment-temporary-label" text="Date"></Label>
                <assessment-date dateTitle="Enter Date" [value]="curDate"></assessment-date>

                <!--Date Attributes: dateTitle - Label to be displayed,
                    value - Default value-->
                <Label class="assessment-temporary-label" text="Time"></Label>
                <assessment-time timeTitle="Enter Time" [timeValue]="curTime"></assessment-time>

                <!--Checkbox Attributes: selected - sets the selected or not selected state of checkbox, default is true, 
                    checkboxId - sets the id of the checkbox,
                    optionTitle - sets the text for checkbox,
                    checkboxImgSrc - image url, if present; checbox box size set to 70 if present-->
                <Label class="assessment-temporary-label" text="Checkbox"></Label>
                <assessment-checkbox [selected]="false" [checkboxId]="'option-1'" [optionTitle]="'Option 1'"
                    [checkboxImgSrc]="'~/img/ben.png'">
                </assessment-checkbox>
                <assessment-checkbox [selected]="false" [checkboxId]="'option-2'" [optionTitle]="'Option 2'">
                </assessment-checkbox>

                <!--Progress bar Attributes: value - current value,
                    maxValue - maximum  value-->
                <Label class="assessment-temporary-label" text="Progress"></Label>
                <assessment-progress [progressCurrVal]="progressCurrVal" [progressMaxVal]="progressMaxVal"></assessment-progress>

                <!--Radio Group & buttons Attributes: radioInput - JSON array containing list of options-->
                <Label class="assessment-temporary-label" text="Radio Group & Radio options"></Label>
                <assessment-radio-group [radioInput]="radioData"></assessment-radio-group>

                <!--Button attributes: btnText - Text to be displayed inside btn; 
                    bgColor - background color of button, default - blue, values:blue,white, determines the class of button-->
                <Label class="assessment-temporary-label" text="Button1"></Label>
                <assessment-button btnText="Go Back" bgColor="white"></assessment-button>

                <Label class="assessment-temporary-label" text="Button2"></Label>
                <assessment-button btnText="Next" bgColor="blue"></assessment-button>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</PullToRefresh>